{% extends "blog/../base.html" %}

{% block title %}Share post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>Email was sent</h1>
        <p>
            Sending post "{{ post.title }}" to {{ form.cleaned_data.to }} success
        </p>
    {% else %}
        <h1>Your thoughts about "{{ post.title }}" by email</h1>
        <form action="." method="post">
            {{ form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Sent email">
        </form>
    {% endif %}
{% endblock %}