body {
    font-family:helvetica, sans-serif;
    background-color: white;

}a {
    color:#00abff;
    text-decoration:none;
}h1 {
    text-align: center;
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}h2 {
    font-weight:normal;
    margin:40px 0 0;
}#content {
    max-width: 500px;
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 5px;


}p.date {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}/* pagination */
.pagination a:hover {
    margin:0px 0;
    font-weight:bold;
    color: #111;
}/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

.container-fluid {
 height: 100%;
 width: 100%;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 overflow-x: hidden;
 padding-top: 50px;
}

.container-fluid a {
 padding: 6px 12px 6px 8px;
 text-decoration: none;
 color: #00abff;
}

.container-fluid a:hover {
 color: #000000;
;
}


/*Sprobowac zmienic siede bar, dodac zdjecie w tle*/

/*.sidenav {*/
/* height: 100%;*/
/* width: 160px;*/
/* position: fixed;*/
/* z-index: 1;*/
/* top: 0;*/
/* left: 0;*/
/* !*background-color: #111;*!*/
/* overflow-x: hidden;*/
/* padding-top: 10px;*/
/*}*/

/*.sidenav a {*/
/* padding: 6px 8px 6px 16px;*/
/* text-decoration: none;*/
/* font-size: 25px;*/
/* color: #00abff*/
/*;*/
/* display: block;*/
/*}*/

/*.sidenav a:hover {*/
/* color: #000000;*/
/*;*/
/*}*/

