{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
    <script src="{% static 'blog/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="list" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </symbol>
</svg>

{% include 'blog/post/header.html' %}
<img src="{% static 'blog/images/prodfoto21173.jpg' %}" style="width: 100%">

<div class="container-fluid">
    <div class="row">
        {% include 'blog/post/side_bar.html' %}
        <main class="col-md-9 ms-sm-auto col-lg-9 px-md-2">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

</body>
</html>